.allusers-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.allusers-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

.users-text {
    font-weight: bold;
    font-size: 23px;
    margin: 0;
}

.count-text {
    color: grey;
    margin-top: 0;
}

.addusers-button {
    padding: 0 15px;
}

.addusers-button-border {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 5px 10px;
    transition: background-color 0.5s ease-in-out;
    color: black;
}

.addusers-button-border:hover {
    background: #f0f5ff;
}

.addusers-button span {
    padding-left: 10px;
    margin: 0;
}

