.addusers {
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-family: "Nunito-sans", sans-serif;
}

.addusers-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 20px;
}

.addusers-header-title {
    display: flex;
    flex-direction: column;
}

.addusers-header-back {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary);
    text-decoration: none;
}

.addusers-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 15px;
}

.addusers-person-role-type {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2;
}

.addusers-person {
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 25px;
    gap: 30px;
    font-size: 13px;
}

.addusers-person-header {
    font-size: 20px;
}

.addusers-person-name-surname {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
}

.addusers-person-name {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.addusers-person-surname {
    display: flex;
    flex-direction: column;
    gap: 10px ;
    flex: 1;
}

.addusers-person-input {
    font-size: 15px;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
}

.addusers-person-input:focus {
    outline: none;
}

.addusers-person-telegram {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addusers-search {
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 25px;
    gap: 20px;
}

.addusers-search-header {
    font-size: 20px;
}

.addusers-search-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.addusers-search-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.addusers-role {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 25px;
}

.addusers-role-header {
    font-size: 20px;
}

.addusers-role-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.addusers-role-specific {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 15px;
    font-size: 13px;
}

.roleActive {
    background-color: #f0f5ff;
    border: 1px solid var(--primary) !important;
}

.addusers-info {
    display: flex;
    flex-direction: column;
    background-color: #f0f5ff;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 10px;
    padding: 25px;
    gap: 10px;
}

.addusers-info-header {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-weight: bold;
}


.addusers-info-content {
    padding-left: 20px;
}

.addusers-info-content li {
    padding-top: 10px;
}

.addusers-type {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 25px;
}

.addusers-type-header {
    font-size: 20px;
}

.addusers-type-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.addusers-type-specific {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    flex: 1;
    align-items: center;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 15px;
}

.addusers-type-specific-info {
    display: flex;
    flex-direction: column;
    color: gray;
    font-size: 13px;
    align-items: center;
}

.price {
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    font-size: 13px;
}

.none {
    background-color: #f1f3f5;
    color: #6c757d;
}

.trial {
    background-color: #FFE4C4;
    color: #C05621;
}

.basic {
    background-color: #eaf2ff;
    color: #4d8aff;
}

.vip {
    background-color: #f5f0ff;
    color: #8a63d2;
}

.addusers-create {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 15px;
}

.addusers-create button {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.button-create {
    background-color: var(--primary);
}

.button-cancel {
    background-color: #6c757d;
}

.userRole {
    padding: 5px;
    max-width: max-content;
    text-transform: uppercase;
    border-radius: 10px;
    display: inline-block;
    font-size: 14px;
}

.basic {
    background-color: #eaf2ff;
    color: #4d8aff;
}

.special {
    background-color: #f5f0ff;
    color: #8a63d2;
}

.admin {
    background-color: #FFE4C4;
    color: #C05621;
}

.none {
    background-color: #f1f3f5;
    color: #6c757d;
}

.trial {
    background-color: #FFE4C4;
    color: #C05621;
}

.vip {
    background-color: #f5f0ff;
    color: #8a63d2;
}
