.addusers {
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-family: "Nunito-sans", sans-serif;
}

.addusersHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 20px;
}

.addusersHeaderTitle {
    display: flex;
    flex-direction: column;
}

.addusersHeaderBack {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary);
    text-decoration: none;
}

.addusersContent {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 15px;
}

.addusersPersonRoleType {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2;
}

.addusersPerson {
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 25px;
    gap: 30px;
    font-size: 13px;
}

.addusersPersonHeader {
    font-size: 20px;
}

.addusersPersonNameSurname {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
}

.addusersPersonName {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.addusersPersonSurname {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.addusersPersonInput {
    font-size: 15px;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
}

.addusersPersonInput:focus {
    outline: none;
}

.addusersPersonTelegram {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
}

.addusersSearch {
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 25px;
    gap: 20px;
}

.addusersSearchHeader {
    font-size: 20px;
}

.addusersSearchDetails {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.addusersSearchInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.addusersRole {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 25px;
}

.addusersRoleHeader {
    font-size: 20px;
}

.addusersRoleContent {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.addusersRoleSpecific {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 15px;
    font-size: 13px;
}

.roleActive {
    background-color: #f0f5ff;
    border: 1px solid var(--primary) !important;
}

.addusersInfo {
    display: flex;
    flex-direction: column;
    background-color: #f0f5ff;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 10px;
    padding: 25px;
    gap: 10px;
}

.addusersInfoHeader {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-weight: bold;
}

.addusersInfoContent {
    padding-left: 20px;
}

.addusersInfoContent li {
    padding-top: 10px;
}

.addusersType {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 25px;
}

.addusersTypeHeader {
    font-size: 20px;
}

.addusersTypeContent {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.addusersTypeSpecific {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    flex: 1;
    align-items: center;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 15px;
}

.addusersTypeSpecificInfo {
    display: flex;
    flex-direction: column;
    color: gray;
    font-size: 13px;
    align-items: center;
}

.price {
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    font-size: 13px;
}

.none {
    background-color: #f1f3f5;
    color: #6c757d;
}

.trial {
    background-color: #ffe4c4;
    color: #c05621;
}

.regular {
    background-color: #eaf2ff;
    color: #4d8aff;
}

.vip {
    background-color: #f5f0ff;
    color: #8a63d2;
}

.addusersCreate {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 15px;
}

.addusersCreate button {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.userRole {
    padding: 5px;
    max-width: max-content;
    text-transform: uppercase;
    border-radius: 10px;
    display: inline-block;
    font-size: 14px;
}


.special {
    background-color: #f5f0ff;
    color: #8a63d2;
}

.admin {
    background-color: #ffe4c4;
    color: #c05621;
}
