.addServer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-family: "Nunito-sans", sans-serif;
}

.addServerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 20px;
}

.addServerHeaderTitle {
    display: flex;
    flex-direction: column;
}

.addServerHeaderBack {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary);
    text-decoration: none;
}

.addServerContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

.addServerInfo {
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 25px;
    gap: 30px;
    font-size: 13px;
}

.addServerInfoHeader {
    font-size: 20px;
}

.addServerInfoBody {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
}

.addServerInfoBodyItem {
    display: flex;
    flex-direction: column;
    flex: 1 0 25%;
    gap: 10px;
}

.addServerInput {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.addServerInput input {
    font-size: 15px;
    border: none;
    width: 100%;
}

.addServerInput input:focus {
    outline: none;
}

.addServerInput:focus {
    outline: none;
}

.addServerInput select {
    font-size: 15px;
    border: none;
    width: 100%;
}

.addServerInput select:focus {
    outline: none;
}

.addServerAccess {
    display: flex;
    flex-direction: row;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 15px;
    gap: 30px;
    font-size: 13px;
    margin-top: 15px;
}

.addServerAccessContent {
    display: flex;
    flex-direction: column;
    flex: 1 0 33.3%;
    gap: 20px;
    padding: 15px;
}

.addServerAccessHeader {
    font-size: 20px;
}

.addServerAccessBody {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    font-size: 15px;
}

.addServerAccessBodyItem {
    display: flex;
    flex-direction: column;
    flex: 1 0 33.3%;
    gap: 10px;
}

.addServerAccessSafety {
    display: flex;
    flex-direction: column;
    flex: 1 0 33.3%;
    background-color: #fefce8;
    border: 1px solid #fde047;
    color: #a16207;
    border-radius: 10px;
    padding: 25px;
    gap: 10px;
    font-size: 15px;
    margin: 15px;
}

.addServerAccessSafety div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.addServerButtonRecommendations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.addServerRecommendations {
    display: flex;
    flex-direction: column;
    background-color: #f0f5ff;
    width: 33%;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 10px;
    padding: 25px;
    gap: 10px;
}

.addServerRecommendationsHeader {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-weight: bold;
}

.addServerRecommendationsContent {
    padding-left: 20px;
}

.addServerRecommendationsContent li {
    padding-top: 10px;
}

.addServerButton {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 15px;
    align-items: start;
}

.addServerButton button {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    height: 40px;
}
