.vpnserversTable {
    max-height: 550px;
    min-height: 100px;
    height: auto;
    overflow-y: auto;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 50px 15px 0 15px;
}

td:has(input) {
    padding: 16px 0  16px 24px !important;
}

.usersCheckbox {
    width: 40px;
    max-width: 40px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}

.tableTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tableTitle span {
    padding-right: 7px;
}

.tableServers {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

.tableServers tr + tr td {
    border-top: 1px solid #e4e4e4;
}

.tableServers td {
    padding: 15px 60px 15px 40px;
    box-sizing: border-box;
    font-size: 14px;
}

td:has(.ID, .date) {
    padding-right: 10px;
}

.serverName {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 17px;
}

.location {
    font-size: 14px;
    color: #5a646e;
}

.ip {
    font-size: 12px;
    color: #86909a;
}

.status {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 25px;
    font-size: 12px;
}

.maintenance {
    background-color: #fef7c3;
    color: #92400e;
}

.online {
    background-color: #e5f8ed;
    color: #34c759;
}

.offline {
    background-color: #ffeeee;
    color: #ff4d4d;
}

.users {
    display: flex;
    justify-content: left;
    font-size: 16px;
}

.progressContainer {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.progressBar {
    flex-grow: 1;
    height: 10px;
    background-color: #e5e7eb;
    border-radius: 9999px;
    overflow: hidden;
}

.progressBarFill {
    height: 100%;
    border-radius: 9999px;
    transition: width 0.3s ease-in-out;
}

.progressLabel {
    font-family: sans-serif;
    font-size: 14px;
    color: #4b5563;
    font-weight: 500;
    min-width: 40px;
}

td:has(.progressContainer) {
    padding-right: 30px;
}

.ping {
    font-size: 15px;
}

.backgroundcolorGreen {
    background-color: green;
}

.backgroundcolorOrange {
    background-color: orange;
}

.backgroundcolorRed {
    background-color: red;
}

.colorGreen {
    color: green;
}

.colorRed {
    color: red;
}

.colorOrange {
    color: orange;
}

.uptime {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


td:has(.maxtrafficDot) {
    padding-right: 15px;
}

.vpnserversModal {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-size: 15px;
    right: 45px;
    z-index: 1000;
    border: 1px solid #e4e4e4;
    border-radius: 15px;
}

.vpnserversModalName {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e4e4e4;
    padding: 15px 30px 10px 15px;
}

.vpnserversModalChange {
    display: flex;
    flex-direction: column;
    padding: 10px 30px 15px 15px;
    gap: 10px;
}

.vpnserversModalChangeMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.vpnserversModalChangeMain div {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.delete {
    display: flex;
    gap: 10px;
    padding-top: 15px;
    border-top: 1px solid #e4e4e4;
}
