.filterTable {
    display: flex;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 9;
    border-radius: 10px;
    padding: 10px 16px;
    background: var(--bg-input);
}

.input input {
    border: 0;
    width: 100%;
    font-size: 14px;
    border-radius: 12px;
    background: var(--bg-input);
    color: var(--text-input);
}

.input input:focus {
    outline: none;
}

.input:has(input:focus) {
    border: 1px solid var(--border-filter-focus);
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-left: 15px;
    border-radius: 10px;
    gap: 0;
    background: var(--bg-input);
}

.chevronDown {
    padding-left: 10px;
}

.search {
    color: var(--glass-input);
    padding-right: 10px;
}

.filterInput {
    border: none;
    font-size: 14px;
    padding-right: 10px;
    background: none;
    color: var(--text-filter);
}

.filterInput:focus {
    outline: none;
}

.text:has(select:focus) {
    border: 1px solid var(--border-filter-focus);
}

.filterInput option {
    background: var(--bg-input);
}

