.vpnserversContent {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.vpnserversHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

.usersText {
    font-weight: bold;
    font-size: 23px;
    margin: 0;
}

.countText {
    color: grey;
    margin-top: 0;
}

.vpnserversButton {
    padding: 0 15px;
}

.vpnserversButtonBorder {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 5px 10px;
    transition: background-color 0.5s ease-in-out;
    color: black;
}

.vpnserversButtonBorder:hover {
    background: #f0f5ff;
}

.vpnserversButton span {
    padding-left: 10px;
    margin: 0;
}
