body[data-theme="light"] {
    --header-text: #6b7280;
    --tariff-bg: #ffffff;
    --tariff-border: #e5e7eb;
    --info-bg: #f9fafb;
    --info-border: #e5e7eb;
    --info-icon: #0891b2;
    --info-text: #6b7280;
    --info-number: #111827;
    --action-bg: #f3f4f6;
    --action-edit-bg-hover: #ecfeff;
    --action-edit-text-hover: #0890b2;
    --action-delete-text-hover: #dc2626;
    --action-delete-bg-hover: #fef2f2;
}

body[data-theme="dark"] {
    --header-text: #9ca3af;
    --tariff-bg: #11182780;
    --tariff-border: #1f293780;
    --info-bg: #0d1117;
    --info-border: #1f293780;
    --info-icon: #06b6d4b3;
    --info-text: #9ca3af;
    --info-number: #e5e7eb;
    --action-bg: #1f29374d;
    --action-edit-bg-hover: #06B6D41A;
    --action-edit-text-hover: #22d3ee;
    --action-delete-text-hover: #EF4444;
    --action-delete-bg-hover: #EF44441A;
}

.tariffsContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 24px;
}

.tariff {
    flex: 0 0 33.333%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    background-color: var(--tariff-bg);
    border: 1px solid var(--tariff-border);
    border-radius: 16px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.tariff:hover {
    border-color: #06B6D480;
}

.tariffHeader {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.headerName {
    color: var(--text-secondary);
    font-weight: 700;
    font-size: 20px;
}

.headerId {
    color: #9ca3af;
    font-size: 10px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.tariffInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 12px;
    background-color: var(--info-bg);
    border: 1px solid var(--info-border);
    border-radius: 12px;
    font-size: 14px;
}

.infoIcon {
    color: var(--info-icon);
}

.infoText {
    color: var(--info-text);
}

.infoNumber {
    color: var(--info-number);
    font-weight: 700;
}

.tariffLocation {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #6b7280;
    font-size: 10px;
    font-weight: 700;
}

.locations {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.location {
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 700;
    color: var(--text-add);
    background-color: var(--bd-add);
    border: 1px solid var(--border-add);
    border-radius: 8px;
}

.tariffActions {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: end;
    padding-top: 16px;
    border-top: 1px solid var(--info-border);
}

.action {
    display: flex;
    align-items: center;
    color: var(--info-text);
    background-color: var(--action-bg);
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

.edit:hover {
    background: var(--action-edit-bg-hover);
    color: var(--action-edit-text-hover);
}

.delete:hover {
    color: var(--action-delete-text-hover);
    background: var(--action-delete-bg-hover);
}

@media (max-width: 900px) {
    .tariffsContent {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 610px) {
    .tariffsContent {
        grid-template-columns: repeat(1, 1fr);
    }
}