.changeUsers {
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-family: "Nunito-sans", sans-serif;
}

.changeUsersHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 20px;
}

.changeUsersHeaderTitle {
    display: flex;
    flex-direction: column;
}

.changeUsersHeaderBack {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary);
    text-decoration: none;
}

.changeUsersContent {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 15px;
}

.changeUsersPersonRoleType {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2;
}

.changeUsersPerson {
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 25px;
    gap: 30px;
    font-size: 13px;
}

.changeUsersPersonHeader {
    font-size: 20px;
}

.changeUsersPersonNameSurname {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
}

.changeUsersPersonName {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.changeUsersPersonSurname {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.changeUsersPersonInput {
    font-size: 15px;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
}

.changeUsersPersonInput:focus {
    outline: none;
}

.changeUsersPersonTelegram {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top:15px;
}

.changeUsersSearch {
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 25px;
    gap: 20px;
}

.changeUsersSearchHeader {
    font-size: 20px;
}

.changeUsersSearchDetails {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.changeUsersSearchInfotypeImportant {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.changeUsersRole {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 25px;
}

.changeUsersRoleHeader {
    font-size: 20px;
}

.changeUsersRoleContent {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.changeUsersRoleSpecific {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 15px;
    font-size: 13px;
}

.roleActive {
    background-color: #f0f5ff;
    border: 1px solid var(--primary) !important;
}

.changeUsersInfotype {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 25px;
}

.changeUsersInfotypeContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.changeUsersInfotypeContent div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 13px;
}

.changeUsersImportant {
    display: flex;
    flex-direction: column;
    background-color: #fefce8;
    border: 1px solid #fde047;
    color: #a16207;
    border-radius: 10px;
    padding: 25px;
    gap: 10px;
}

.changeUsersImportantHeader {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-weight: bold;
}

.changeUsersImportantContent {
    padding-left: 20px;
}

.changeUsersImportantContent li {
    padding-top: 10px;
}

.changeUsersType {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 25px;
}

.changeUsersTypeHeader {
    font-size: 20px;
}

.changeUsersTypeContent {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.changeUsersTypeSpecific {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    flex: 1;
    align-items: center;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 15px;
}

.changeUsersTypeSpecificInfo {
    display: flex;
    flex-direction: column;
    color: gray;
    font-size: 13px;
    align-items: center;
}

.changeUsersDate {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.changeUsersDateHeader {
    font-size: 20px;
}

.changeUsersDateInput {
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    outline: none;
}

.changeUsersDateFast {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.changeUsersDateFastChange {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.changeUsersDateFastChangeDetail {
    font-size: 13px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.price {
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    font-size: 13px;
}

.changeUsersCreate {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 15px;
}

.changeUsersCreate button {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.userRole {
    padding: 5px;
    max-width: max-content;
    text-transform: uppercase;
    border-radius: 10px;
    display: inline-block;
    font-size: 14px;
}

.none {
    background-color: #f1f3f5;
    color: #6c757d;
}

.admin {
    background-color: #ffe4c4;
    color: #c05621;
}

.trial {
    background-color: #ffe4c4;
    color: #c05621;
}

.basic {
    background-color: #eaf2ff;
    color: #4d8aff;
}

.special {
    background-color: #f5f0ff;
    color: #8a63d2;
}

.vip {
    background-color: #f5f0ff;
    color: #8a63d2;
}

.dynamic {
    background-color: #e5f8ed;
    color: #34c759;
}

.expired {
    background-color: #ffeeee;
    color: #ff4d4d;
}
