body[data-theme="light"] {
    --primary: #0891b2;
    --bg-primary: #f0f5ff;
    --border-primary: #cffafe;
    --bg-sidebar: #ffffff;
    --bg-sidebar-hover: #f9fafb;
    --bg-main: #ffffff;
    --text-primary: #4b5563;
    --text-secondary: #111827;
    --border: #e4e4e4;
}

body[data-theme="dark"] {
    --primary: #22d3ee;
    --bg-primary: #0d222b;
    --border-primary: #0b3f4d;
    --bg-sidebar: #06090f;
    --bg-sidebar-hover: #1F2937;
    --bg-main: #061117;
    --text-primary: #9ca3af;
    --text-secondary: #ffffff;
    --border: #1f2937;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("./assets/fonts/NunitoSans-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: inherit;
    text-decoration: none;
    font-family:
        ui-sans-serif,
        system-ui,
        sans-serif;
}

.main-page {
    display: flex;
}

.sidebar {
    height: 99vh;
    width: 100%;
    flex: 1;
}

.main-content {
    height: 100vh;
    width: 100%;
    flex: 6;
    background-color: var(--bg-main) ;
}

.padding {
    padding: 12px 16px;
}

.navLink {
    color: inherit;
    text-decoration: none;
}

.buttonCreate {
    background-color: var(--primary);
}

.buttonCancel {
    background-color: #6c757d;
}

.countries {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.countries span {
    margin-right: 5px;
    padding: 3px 7px;
    background-color: #e5f8ed;
    color: #34c759;
}

p {
    margin: 0;
}

:focus, :focus-visible, :active {
    outline: none !important;
    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

/* Конкретно для ссылок */
a:focus, a:focus-visible, a:active {
    outline: none !important;
    box-shadow: none !important;
}
