body[data-theme="light"] {
    --primary: #0891b2;
    --bg-primary: #f0f5ff;
    --border-primary: #cffafe;
    --bg-sidebar: #ffffff;
    --bg-sidebar-hover: #f9fafb;
    --bg-main: #ffffff;
    --text-primary: #4b5563;
    --text-secondary: #111827;
    --border: #e4e4e4;
    --button-create-text: #0891b2;
    --button-create-bg: #ecfeff;
    --button-create-border: #a5f3fc;
    --button-create-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --button-create-hover-bg: #cffafe;
    --button-create-hover-border: #a5f3fc;
    --button-cancel-text: #4b5563;
    --button-cancel-bg: #f3f4f6;
    --button-cancel-border: #e5e7eb;
    --button-cancel-hover-bg: #e5e7eb;
    --card-bg: #ffffff;
    --card-border: #e5e7eb;
    --card-border-focus: #06b6d4;
}

body[data-theme="dark"] {
    --primary: #22d3ee;
    --bg-primary: #0d222b;
    --border-primary: #0b3f4d;
    --bg-sidebar: #0b1116;
    --bg-sidebar-hover: #1F2937;
    --bg-main: #061117;
    --text-primary: #9ca3af;
    --text-secondary: #ffffff;
    --border: #1f2937;
    --button-create-text: #22d3ee;
    --button-create-bg: #06b6d41a;
    --button-create-border: #06b6d44d;
    --button-create-shadow: 0 0 15px rgba(0, 240, 255, 0.1);
    --button-create-hover-bg: #06b5d433;
    --button-create-hover-border: #22d3ee;
    --button-cancel-text: #d1d5db;
    --button-cancel-bg: #1f293780;
    --button-cancel-border: #374151;
    --button-cancel-hover-bg: #1f2937;
    --card-bg: #0c131f;
    --card-border: #1f293780;
    --card-border-focus: #06b6d480;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: inherit;
    text-decoration: none;
    font-family:
        ui-sans-serif,
        system-ui,
        sans-serif;
    overscroll-behavior: none;
}

.main-page {
    display: flex;
}

.sidebar {
    width: 100%;
    flex: 1;
}

.main-content {
    width: 100%;
    flex: 6;
    background-color: var(--bg-main) ;
}

.padding {
    padding: 12px 16px;
}

.navLink {
    color: inherit;
    text-decoration: none;
}

.buttonCreate {
    color: var(--button-create-text);
    background-color: var(--button-create-bg);
    border: 1px solid var(--button-create-border);
    box-shadow: var(--button-create-shadow);
    transition: all 0.3s;
}

.buttonCreate:hover {
    background-color: var(--button-create-hover-bg);
    border-color: var(--button-create-hover-border);
}

.buttonCancel {
    color: var(--button-cancel-text);
    background-color: var(--button-cancel-bg);
    border: 1px solid var(--button-cancel-border);
    transition: all 0.3s;
}

.buttonCancel:hover {
    background-color: var(--button-cancel-hover-bg);
}

.loadingText {
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
    color: #2fd5ef;
}

.countries {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.countries span {
    margin-right: 5px;
    padding: 3px 7px;
    background-color: #e5f8ed;
    color: #34c759;
}

p {
    margin: 0;
}

a:focus, a:focus-visible, a:active {
    outline: none !important;
    box-shadow: none !important;
}

.Mobile {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(4px);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--input-bg) inset !important;
    -webkit-text-fill-color: var(--input-text) !important;
    transition: background-color 5000s ease-in-out 0s;
}

.scroll {
    overflow-y: auto;
}

.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-button {
    display: none;
}

.scroll::-webkit-scrollbar-track {
    background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: var(--scroll-text);
    border-radius: 10px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 4px solid transparent;
    background-clip: padding-box;
}

@media (max-width: 768px) {
    * {
        -webkit-tap-highlight-color: transparent;
    }

    .PC {
        display: none !important;
    }

    .Mobile {
        display: block;
    }

    .padding {
        padding: 12px 0;
    }
}