.editServer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-family: "Nunito-sans", sans-serif;
}

.editServerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 20px;
}

.editServerHeaderTitle {
    display: flex;
    flex-direction: column;
}

.editServerHeaderBack {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary);
    text-decoration: none;
}

.editServerContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

.editServerContentFast {
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 25px;
    gap: 20px;
    font-size: 20px;
}

.editServerContentFastBody {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.editServerContentFastBody button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    gap: 5px;
    padding: 10px;
    font-size: 17px;
}

.editServerContentFastBodyReload {
    background-color: #fcefb3;
}

.editServerContentFastBodyReload:hover {
    background-color: #fadf73;
}

.editServerContentFastBodySetting {
    background-color: #e5e7eb;
}

.editServerContentFastBodySetting:hover {
    background-color: #d1d5db;
}

.editServerContentSettings {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
}

.editServerContentSettingsTitle {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    border-bottom: 1px solid #e4e4e4;
}

.editServerContentSettingsTitleItem {
    display: flex;
    flex: 1 0 25%;
    flex-direction: row;
    gap: 10px;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
}

.settingActive {
    color: var(--primary);
    background-color: #f0f5ff;
    border-bottom: 1px solid var(--primary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.editServerContentButton {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 15px;
    align-items: start;
}

.editServerContentButton button {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.editServerContentSettingsBody {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.settingBody {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.settingBodyInput {
    display: flex;
    flex-direction: column;
    flex: 1 0 33.3%;
    gap: 10px;
    font-size: 17px;
}

.settingBodyInput span {
    color: gray;
}

.editServerInput {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.editServerInput select {
    width: 100%;
    border: none;
    font-size: 15px;
}

.editServerInput select:focus {
    outline: none;
}

.settingSafety {
    display: flex;
    flex-direction: column;
    flex: 1 0 33.3%;
    background-color: #fefce8;
    border: 1px solid #fde047;
    color: #a16207;
    border-radius: 10px;
    padding: 25px;
    gap: 10px;
    font-size: 15px;
}

.settingSafetyTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.settingCheckbox {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.settingCheckboxItem {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-size: 14px;
}

.settingCheckboxText {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: gray;
}

.settingMetrics {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}

.settingMetricsItem {
    display: flex;
    flex-direction: column;
    flex: 1 0 25%;
    gap: 10px;
}

.settingMetricsItemHeader {
    color: gray;
    font-size: 14px;
}

.settingMetricsItemText {
    font-size: 22px;
}
