.header {
    display: flex;
    flex-direction: row;
    margin: 25px 25px 0 0;
    padding-bottom: 25px;
    justify-content: flex-end;
    border-bottom: 1px solid #e4e4e4;
}

.account {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}

.account p {
    margin: 5px 10px 0 10px;
}
